*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}

.container{
background-color: rgb(192, 222, 184);
}


.carousel{
    width: 50vw;
margin-left: 9.375em;
}

.cartegory{
   
    display: flex;
    gap: 0.625rem;
   font-size: 120%;

}
.listcategory{
   
    margin-left: 300px;
    display: flex;
}
.cardhome{
    display: flex;
    gap: 0.625rem;
    margin-left: 1.25rem;
    margin-top: 1.875rem;
  
}


.correo{
   font-size: 150%;
    margin-left:6.25rem;
    margin-top: 1.875rem;
    margin-right: 6.25rem;
    text-align: center;
}

.redes{
  
    margin-top: 1.25rem;
   
    display: flex;
    gap: 0.625rem;
    background-color: rgb(192, 222, 184);

}

.p1{
margin-left: 62.5rem;
 
}


table, th,td{ 
   
    border: 1px solid black;
}
.table{
    margin-top: 1.25rem;
    margin-left: 7.5rem;
   width: 80%;

}
.th{
    background-color: rgb(158, 158, 192);
    text-align: center;
    font-size: 130%;
 }
