*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}

.container{
background-color: rgb(192, 222, 184);
}

.cardhome{
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-top: 30px;
}

.correo{
   font-size: 150%;
    margin-left:100px;
    margin-top: 30px;
    margin-right: 100px;
text-align: center;
}

.redes{
    margin-left: 30px;
}
