*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}
 body{
border: 1px solid black;
    
   background: linear-gradient(to bottom, rgb(149, 230, 246),rgb(237, 122, 218));
 }

/* carrusel */

.contentCarrusel{
border: 1px solid black;
height: 100px;
overflow: hidden;
}
.itemCarrusel{

    height: 100%;
    position: relative;

}
.cardCarrusel{
background-color: aqua;
height: 100%;
}

.flechasCarrusel{
height: 100%;
width: 100%;
position: absolute;
top: 0;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px;

}

h2{
   
    display: flex;
    justify-content: center;
    padding: top 10px; ;
     align-items: center;
     padding: 20px;
     font-size: 300%;
     font-family: cursive;
}

/* catelogias */

.cartegory{
   background-color: blueviolet;
    display: flex;
    gap: 0.625rem;
   font-size: 120%;

}
.listcategory{
   
    margin-left: 300px;
    display: flex;
}
/* crads */

.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    margin: 1rem;
}
.cardhome{
    display: flex;
    gap: 0.625rem;
    margin-left: 1.25rem;
    margin-top: 1.875rem;
     border-radius: 10px;
    justify-content: center;
    align-items: center;

}
.card{
    height: 60vh;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px;
  
}

.correo{
   font-size: 150%;
    margin-left:6.25rem;
    margin-top: 1.875rem;
    margin-right: 6.25rem;
    text-align: center;
}

.redes{
  
    margin-top: 1.25rem;
   
    display: flex;
    gap: 0.625rem;
    background-color: rgb(192, 222, 184);

}

.p1{
margin-left: 62.5rem;
 
}


table, th,td{ 
   
    border: 1px solid black;
}
.table{
    margin-top: 1.25rem;
    margin-left: 7.5rem;
   width: 80%;

}
.th{
    background-color: rgb(158, 158, 192);
    text-align: center;
    font-size: 130%;
 }

